extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
    .container.px-4.px-lg-5
      a.navbar-brand(href='#page-top') Bicicletas
      button.navbar-toggler.navbar-toggler-right(type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        | Menu
        i.fas.fa-bars
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          li.nav-item
            a.nav-link(href='#about') Nosotros
          li.nav-item
            a.nav-link(href='#projects') Bicicletas
          li.nav-item
            a.nav-link(href='#signup') Contacto
  // Masthead
  header.masthead
    .container.px-4.px-lg-5.d-flex.h-100.align-items-center.justify-content-center
      .d-flex.justify-content-center
        .text-center
          h1.mx-auto.my-0.text-uppercase Red de Bicicletas
          h2.text-white-50.mx-auto.mt-2.mb-5 sistema de localizacion de bicicletas.
          a.btn.btn-primary(href='#about') Comenzar
  // About
  section#about.about-section.text-center
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5.justify-content-center
        .col-lg-8
          h2.text-white.mb-4 Built with Bootstrap 5
          p.text-white-50
            | Red de Bicicletas es una aplicacion de rastreo de bicicletas
            a(href='https://startbootstrap.com/theme/Red de Bicicletas/') the preview page.
            |                             The theme is open source, and you can use it for any purpose, personal or commercial.
      img.img-fluid(src='/images/img/ipad.png' alt='...')
  // Projects
  section#projects.projects-section.bg-light
    .container.px-4.px-lg-5
      #main_map
  // Signup
  section#signup.signup-section
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5
        .col-md-10.col-lg-8.mx-auto.text-center
          i.far.fa-paper-plane.fa-2x.mb-2.text-white
          h2.text-white.mb-5 Subscribe to receive updates!
          form.form-signup.d-flex.flex-column.flex-sm-row
            input#inputEmail.form-control.flex-fill.me-0.me-sm-2.mb-3.mb-sm-0(type='email' placeholder='Enter email address...')
            button.btn.btn-primary(type='submit') Subscribe
  // Contact dd
  section.contact-section.bg-black
    .container.px-4.px-lg-5
      .row.gx-4.gx-lg-5
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-map-marked-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Address
              hr.my-4.mx-auto
              .small.text-black-50 4923 Market Street, Orlando FL
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-envelope.text-primary.mb-2
              h4.text-uppercase.m-0 Email
              hr.my-4.mx-auto
              .small.text-black-50
                a(href='#!') hello@yourdomain.com
        .col-md-4.mb-3.mb-md-0
          .card.py-4.h-100
            .card-body.text-center
              i.fas.fa-mobile-alt.text-primary.mb-2
              h4.text-uppercase.m-0 Phone
              hr.my-4.mx-auto
              .small.text-black-50 +1 (555) 902-8832
      .social.d-flex.justify-content-center
        a.mx-2(href='#!')
          i.fab.fa-twitter
        a.mx-2(href='#!')
          i.fab.fa-facebook-f
        a.mx-2(href='#!')
          i.fab.fa-github

